/.vs
/external
HBE.Core/HBE.Core.vcxproj.user
HBE.Core/HBE.Core.vcxproj.filters
HBE.Core/HBE.Core.vcxproj
/HBE.Core/x64
HBE.Platform.SDL/HBE.Platform.SDL.vcxproj
HBE.Platform.SDL/HBE.Platform.SDL.vcxproj.filters
HBE.Platform.SDL/HBE.Platform.SDL.vcxproj.user
/HBE.Platform.SDL/x64
/HBE.Renderer.GL/external
HBE.Renderer.GL/HBE.Renderer.GL.vcxproj
HBE.Renderer.GL/HBE.Renderer.GL.vcxproj.filters
HBE.Renderer.GL/HBE.Renderer.GL.vcxproj.user
/HBE.Renderer.GL/x64
HBE.Sandbox/assets/hero_sprites.png
HBE.Sandbox/assets/Orc.png
HBE.Sandbox/graphics.cfg
HBE.Sandbox/HBE.Sandbox.vcxproj
HBE.Sandbox/HBE.Sandbox.vcxproj.filters
HBE.Sandbox/HBE.Sandbox.vcxproj.user
/HBE.Sandbox/x64
settings.VisualStudio.json
/x64
/HBE.Sandbox/assets/tiles
/HBE.Sandbox/assets/maps
/Chatgpt
*.zip
